node_modules
.next
.turbo
apps/*/node_modules
apps/*/.next
apps/*/.turbo
packages/*/node_modules
packages/*/pkg
packages/*/target
target
Cargo.lock
.git
.gitignore
README.md
Dockerfile
docker-compose.yml
.dockerignore
.npmrc
*.log
